{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description"  content="{{ book_name }}在线阅读,{{ book_name }}, {{ book_name }}免费">
    <meta name="keywords"  content="{{ book_name }}在线阅读，{{ book_name }},{{ book_name }}免费">
    <title>{{ book_name }}</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <div class="container text-center">
            <div class="book-info2"><h2>{{ book_name }}<span class="lead novelist">{{ author }}</span></h2>
            <p class="text-left info-intro">
            {{ intro | safe |linebreaksbr }}
            </p></div>
        <ol class="breadcrumb text-left">
            <li>
                <a href="{% url 'index' %}">首页</a></li>
            <li class="active">{{ book_name }}</li>
        </ol>
        <div class="">
        <p class="title-name">源列表：</p>
            {% for i,j,k,l in book_info %}
            <div class="list text-left"><a class="catalog" href="{% url 'catalog' bookID j %}?name={{ book_name }}">{{ i }}：</a><p class="new-title">最新：{{ l }}</p></div><br/>
            {% endfor %}
    </div>
</div>
<footer class="footer">
  <div class="container">
    <p class="text-center ">本站所收录作品均来自互联网
         <br />
        蜀ICP备17035299号
    </p>
  </div>
</footer>
</body>
</html>
