{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description"  content="{{ book_name }}在线阅读,{{ book_name }}, {{ book_name }}免费">
    <meta name="keywords"  content="{{ book_name }}在线阅读，{{ book_name }},{{ book_name }}免费">
    <title>{{ book_name }}</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <div class="container text-center"id="nav_index">
        <h2>{{ book_name }}<span class="lead novelist">{{ book_author }}</span></h2>
        <p class="text-left introduction lead">
            {{ book_intro | safe |linebreaksbr }}
        </p>
    <ol class="breadcrumb text-left">
    <li><a href="/">首页</a></li>
    <li><a href="{% url 'book' id %}?name={{ book_name }}">源列表</a></li>
        <li class="active">{{ book_name }}</li>
    </ol>
        <div class="text-left lead nove_list dasda">
        <ul class="title-list">
            {% for i in book_list %}
            <li class="catalog"><a class="catalog-list" href="{% url 'read' id book_id i.titleID %}?name={{ book_name }}">{{ i.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<footer class="footer">
  <div class="container">
    <p class="text-center ">本站所收录作品均来自互联网
     <br />
        蜀ICP备17035299号
    </p>
  </div>
</footer>
</body>
</html>
