<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="http://weawe-10021894.cossh.myqcloud.com/style.css">
</head>
<body class="body">
<div class="container">
    <h3 class="text-center">{{ title }}</h3>
            <ol class="breadcrumb text-left">
  <li><a href="{% url 'index' %}">首页</a></li>
  <li class="active"><a href="{% url 'catalog' id book_id %}?name={{ name }}">{{ name }}</a></li>
</ol>
    <div class="con-text">
        {% for text in body %}
            <p>{{ text }}</p><br/>
        {% endfor %}
    </div>
<nav aria-label="...">
  <ul class="pager nav_ul lead">
  {% if last < 0 %}
      <li><a class="fot_nav nav_left" href="{% url 'catalog' id book_id %}?name={{ name }}">上一章</a></li>
  {% else %}
      <li><a class="fot_nav nav_left" href="{% url 'read' id book_id last %}?name={{name}}">上一章</a></li>
  {% endif %}
    <li><a class="fot_nav" href="/catalog/{{ id }}/{{ book_id }}/?name={{ name }}">目录</a></li>

      {% if next == -99%}
          <li><a class="fot_nav nav_right" href="{% url 'catalog' id book_id %}?name={{ name }}">下一章</a></li>
      {% else %}
          <li><a class="fot_nav nav_right" href="{% url 'read' id book_id next %}?name={{name}}">下一章</a></li>
      {% endif %}
  </ul>
</nav>
</div>
<footer class="footer">
  <div class="container">
    <p class="text-center ">本站所收录作品均来自互联网
         <br />
        蜀ICP备17035299号
    </p>
      <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1267837116'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1267837116%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
  </div>
</footer>
</body>
</html>
